p {
  text-align: center;
}

#kanye8 {
  color: #16161d;
  font-style: italic;
  font-size: 30px;
  padding-bottom: 0%;
}

#attribution {
  color: #16161d;
  font-style: italic;
  font-size: 25px;
  padding-top: 0%;
}

::selection {
  color: none;
  background: none;
}

::-moz-selection {
  color: none;
  background: none;
}
